DATABASE_NAME = "blog_app_final"
DATABASE_USERNAME = "give_your_username"
POSTGRES_USER=give_your_user
POSTGRES_PASSWORD=give_your_password
POSTGRES_DB_DEV=blog_app_final_development
POSTGRES_DB_TEST=blog_app_final_test
DATABASE_HOST=db
REDIS_HOST=redis
